{% extends "base.html" %}
{% block content %}
<section class="section">
  <h1>🌐Blog</h1>
  <p class="subtitle">Building a smarter world with IoT, securing it with Cybersecurity, and coding it all in Python.</p>

  <div class="grid">
    <div class="card">
      <h3>Getting Started with CyberSecurity</h3>
      <p>Cybersecurity is the backbone of our digital world, protecting data, devices, and networks from threats. In an era of increasing cyberattacks, strong security ensures trust, privacy, and safe innovation.</p>

    </div>

    <div class="card">
      <h3>Categories</h3>
      <ul class="category-list">
        <li>💻 Programming</li>
        <li>🔒 Cybersecurity</li>
        <li>📡 IoT</li>

      </ul>
    </div>
  </div>

  <h2 style="margin-top: 50px;">Latest Insights</h2>
  <div class="grid">
    <div class="card">
      <h4>Learning Cybersecurity </h4>
      <p>“Currently exploring the fundamentals of Cybersecurity to understand how to protect systems, data, and networks from evolving threats.”</p>
    </div>
    <div class="card">
      <h4>Introduction to Python</h4>
      <p>“I am learning Python to build a strong foundation in programming and problem-solving.”</p>
    </div>
  </div>
</section>
{% endblock %}
