{% extends "base.html" %}
{% block content %}
<section class="section">
  <h1> Projects section</h1>
  <p class="subtitle">“Turning innovative ideas into real-world solutions through code and creativity.”</p>

  <div class="grid">
    <div class="card">
      <h3>Smart Switch</h3>
      <p>An IoT-based Smart Switch that enables seamless remote control and automation of home appliances. It enhances convenience, energy efficiency, and takes a step toward smarter living.</p>
      <div class="skills">
        <span class="badge">Iot</span>

      </div>
    </div>

    <div class="card">
      <h3>Portfolio Website</h3>
      <p>Responsive portfolio site built using Flask, HTML, CSS, and custom design.</p>
      <div class="skills">
        <span class="badge">Flask</span>
        <span class="badge">HTML</span>
        <span class="badge">CSS</span>
      </div>
    </div>

    <div class="card">
      <h3>Invisible pixel tracking tool</h3>
      <p>An invisible pixel tracking tool designed to monitor user engagement by collecting insights on email and website interactions.</p>
      <div class="skills">
        <span class="badge">Python</span>
        <span class="badge">HTML</span>
        <span class="badge">CyberSecurity</span>
      </div>
    </div>
  </div>
</section>
{% endblock %}
