{% extends 'base.html'%}


{%block content %}
<section class="section">
    <h1>P K Kaaviya</h1>
    <p class="subtitle">CSE Student | Penetration Tester | Python Explorer | Web Developer </p>
    <p>linkedin.com/in/kaaviya-pk</p>

    <div class="grid">
       <div class="grid-item">
            <h2>EDUCATION</h2>
            <p><strong>Bachelor of Engineering (CSE(IOT,CYBERSECURITY WITH BLOCKCHAIN)</strong><br>2022–2026<br>Rajarajeswari college of Engineering</p>
            <p><strong>Senior Secondary Education</strong><br>2020-2022<br>St Anns PreUniversity college</p>

            <h2>EXPERIENCE</h2>

            <ul>
                <li>Developed web apps using Python and Flask</li>
                <li>Working on real world projects</li>
            </ul>

           <h2>COURSES</h2>
            <ul>
                <li>NPTEL Course on Cloud Edge Computing</li>
                <li>Java in QSpiders</li>
                <li>Python in Eduelevate</li>
                <li>Cybersecurity in Corizo</li>
            </ul>

        </div>

        <div class="grid-item">
            <h2>SKILLS</h2>
            <ul>
                <li>Python</li>
                <li>Java</li>
                <li>Cybersecurity basics</li>
                <li>Embeeded C</li>

            </ul>

            <h2>PROJECTS</h2>
            <p><strong>Smart switch</strong></p>

            <p><strong>Portfolio Website</strong></p>

            <p><strong>Invisible pixel tracking tool</strong></p>

        </div>
    </div>
</section>
{%endblock%}
